/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Slider */

body {
    overflow-x: hidden;
}

#slider {
    position: relative;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 500px;
}

.slides {
    width: 400%;
    display: flex;
    
  /* Animación del Slider */
    animation: slide 30s infinite;
}
.slider {
    width: 25%;
}

img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

/* Animation */
/* imágenes */
@keyframes slide {
    0%{
        transform: translateX(0%);
    }
    21% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-25%);
    }
    46% {
        transform: translateX(-25%);
    }
    50% {
        transform: translateX(-50%);
    }
    71% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-75%);
    }
    96% {
        transform: translateX(-75%);
    }
    100% {
        transform: translateX(0%);
    }
}


/* Animaciones en CSS */
/* @keyframes coche {
  0% {
    transform: translateX(0);
  }
  
  50%{
    color: black;
    transform: translateX(250px);
  }
  
  100%{
    transform: translateX(300px);
  }
} */